In [2]:
import pandas as pd
file_to_read = "../School_District_Analysis/Resources/pokemon.csv"

df = pd.read_csv(file_to_read)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
df1 = df[["Type 1","Attack",'Sp. Atk','Sp. Def','Speed']]

df1

In [5]:
df1

      Type 1  Attack  Sp. Atk  Sp. Def  Speed
0      Grass      49       65       65     45
1      Grass      62       80       80     60
2      Grass      82      100      100     80
3      Grass     100      122      120     80
4       Fire      52       60       50     65
..       ...     ...      ...      ...    ...
795     Rock     100      100      150     50
796     Rock     160      160      110    110
797  Psychic     110      150      130     70
798  Psychic     160      170      130     80
799     Fire     110      130       90     70

[800 rows x 5 columns]

In [10]:
pg = df1.groupby('Type 1')
pg.mean()

              Attack    Sp. Atk    Sp. Def       Speed
Type 1
Bug        70.971014  53.869565  64.797101   61.681159
Dark       88.387097  74.645161  69.516129   76.161290
Dragon    112.125000  96.843750  88.843750   83.031250
Electric   69.090909  90.022727  73.704545   84.500000
Fairy      61.529412  78.529412  84.705882   48.588235
Fighting   96.777778  53.111111  64.703704   66.074074
Fire       84.769231  88.980769  72.211538   74.442308
Flying     78.750000  94.250000  72.500000  102.500000
Ghost      73.781250  79.343750  76.468750   64.343750
Grass      73.214286  77.500000  70.428571   61.928571
Ground     95.750000  56.468750  62.750000   63.906250
Ice        72.750000  77.541667  76.291667   63.458333
Normal     73.469388  55.816327  63.724490   71.551020
Poison     74.678571  60.428571  64.392857   63.571429
Psychic    71.456140  98.403509  86.280702   81.491228
Rock       92.863636  63.340909  75.477273   55.909091
Steel      92.703704  67.518519  80.629630   55.259259
Water      74.151786  74.812500  70.517857   65.964286